.custom-btn {
    background-color: #004B5A; /* Color oscuro */
    border-radius: 8px; /* Bordes redondeados */
    font-weight: bold; /* Texto en negrita */
    padding: 12px; /* Espaciado interno */
    border: none; /* Quita el borde */
  }

  .custom-btn:hover {
    background-color: #003744; /* Color más oscuro al pasar el mouse */
  }