.login-container {
    display: flex;
    height: 100vh;
  }
  
  .login-left {
    flex: 1;
    background-color: #d5eaf4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column; /* Alinea en columna */

  }
  
  .logo {
    font-size: 5em;
    font-weight: bold;
  }
  
  .lock-icon {
    color: #000;
  }
  
  .subtitle {
    font-size: 1rem;
    color: #555;
  }
  
  .login-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .forgot-password {
    text-decoration: none;
    color: #1976d2;
    font-size: 0.9rem;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }

  .custom-btn {
    background-color: #004B5A; /* Color oscuro */
    border-radius: 8px; /* Bordes redondeados */
    font-weight: bold; /* Texto en negrita */
    padding: 12px; /* Espaciado interno */
    border: none; /* Quita el borde */
  }

  .custom-btn:hover {
    background-color: #003744; /* Color más oscuro al pasar el mouse */
  }